# Normalize text to LF
* text=auto

*.json linguist-language=jsonc
*.mcmeta linguist-language=jsonc
/assets/** linguist-detectable=true
/data/** linguist-detectable=true
/pack.mcmeta linguist-detectable=true
/scripts/** linguist-detectable=true
