# Normalize text to LF
* text=auto

*.json linguist-language=jsonc
*.mcmeta linguist-language=jsonc

/assets/** linguist-detectable=true
/data/** linguist-detectable=true
*.mcmeta linguist-detectable=true
/docs/** linguist-detectable=true
